/* src/app/global.css */
body {
    margin: 0px;
    overflow-x: hidden; /* Hide scrollbars */
    cursor: wait;
    font-size: 16px; /* Base font size for rem units */
  }
  
  @import 'tailwindcss/base';
  @import 'tailwindcss/components';
  @import 'tailwindcss/utilities';